@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-black;
  }
  p {
    @apply text-base 2xl:text-xl;
  }
}

@layer utilities {
  /* TEXT STYLING */
  .text-effect-desktop {
    @apply white w-fit bg-gradient-to-r from-dark-blue to-dark-blue bg-[length:100%_40%] bg-bottom bg-no-repeat px-1;
    text-shadow: 4px 4px #2d59e2;
  }

  .text-effect-mobile {
    @apply white w-fit bg-gradient-to-r from-dark-blue to-dark-blue bg-[length:100%_40%] bg-bottom bg-no-repeat px-1;
    text-shadow: 2px 2px #2d59e2;
  }

  .bold {
    @apply font-bold;
  }

  .headline {
    @apply bold text-3xl lg:text-6xl 2xl:text-7xl font-montserrat;
  }

  .subheadline {
    @apply bold text-3xl 2xl:text-4xl;
  }

  .blue {
    @apply text-light-blue;
  }

  .white {
    @apply text-white;
  }

  /* CARDS STYLING */
  .card {
    @apply flex-center box-border h-[460px] w-[340px] flex-col gap-24 rounded-3xl border border-border-grey bg-white p-8;
  }

  .card-title {
    @apply bold mb-4 text-xl text-light-blue;
  }

  .grey-button {
    @apply rounded-full border border-button-grey px-20 text-button-grey;
  }

  /* DISPLAYS */
  .article-display {
    @apply flex flex-col-reverse items-center text-center lg:grid lg:grid-cols-2 lg:text-left;
  }

  .about-display {
    @apply flex items-end text-center lg:grid lg:grid-cols-7 lg:text-left;
  }

  .prevention-display {
    @apply white flex flex-col-reverse items-stretch text-center xl:grid xl:grid-cols-2;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .factors-display {
    @apply flex-center default-padding flex-col gap-32 text-center;
  }

  .cards-display {
    @apply flex-center flex-wrap gap-32;
  }

  .paragraphs-display {
    @apply flex flex-col gap-16;
  }

  .social-media-display {
    @apply flex-center gap-24;
  }

  /* SPACING */
  .default-x-padding {
    @apply px-[10vw];
  }

  .default-y-padding {
    @apply py-[10vh];
  }

  .default-padding {
    @apply default-x-padding default-y-padding;
  }

  .gap-32 {
    @apply gap-8;
  }

  .gap-24 {
    @apply gap-6;
  }

  .gap-16 {
    @apply gap-4;
  }

  /* BACKGROUND IMAGES */
  .bg-hero {
    @apply grid h-0 grid-cols-4 bg-hero-mobile-bg bg-cover bg-no-repeat pb-[91.6030534351145%] md:bg-hero-bg md:pb-[52.0833%];
  }

  .bg-about {
    @apply white w-full bg-about-mobile-bg bg-cover bg-right bg-no-repeat lg:bg-about-bg lg:bg-cover;
  }

  .bg-cavities {
    @apply default-padding h-full bg-light-grey bg-cover bg-no-repeat xl:bg-cavities-bg xl:pl-[15vw];
  }

  .bg-prevention {
    @apply default-x-padding h-auto w-full bg-prevention-mobile-bg bg-cover bg-right bg-no-repeat p-0 py-[10vh] text-center md:bg-prevention-bg md:text-left xl:py-0 xl:pl-16 xl:pr-[10vw];
  }

  .bg-footer {
    @apply flex-center white h-auto w-full flex-col gap-32 bg-footer-bg bg-cover bg-no-repeat py-[5vh] text-center;
  }

  /* ICONS */
  .icons {
    @apply h-6 w-auto transition-all ease-in-out hover:scale-125;
  }
}

.form-iframe .hl-app .form-builder--wrap {
  padding: 0 !important;
}

.form-iframe
  .hl-app
  .hl_form-builder--main
  .form-builder--wrap
  .form-builder--item,
.hl-app .menu-field-wrap {
  margin: 0 !important;
}

.newsletter-form {
  display: none;
}

.form-iframe,
.ep-iFrame {
  box-sizing: border-box;
  height: 99px !important;
}
.form-mobile {
  background-color: #cee7ff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.headline {
  font-family: var(--font-montserrat);
}

@media screen and (min-width: 1024px) {
  .newsletter-form {
    display: block;
    margin-top: 5rem !important;
  }
  .form-iframe,
  .ep-iFrame {
    height: 100% !important;
  }
  .form-mobile {
    display: none;
  }

  .bg-about {
    background-position: center !important;
  }
}
